* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
}
.container {
  padding: 60px 15px;
  max-width: 1200px;
  margin: auto;
  margin-left: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 830px;
  }
}
@media (max-width: 829px) {
  .container {
    max-width: 600px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 870px;
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 599px) {
  .cards-holder {
    flex-direction: column;
    align-items: center;
  }
}
.cards-holder > .card-link {
  margin-bottom: 30px;
}
/* Cards */
.card {
  position: relative;
  width: 270px;
  background-color: #fff;
}
.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.card-link:hover,
.card-link:focus {
  opacity: 0.9;
  transform: translateY(-5px);
}
.cardbages {
  position: absolute;
  top: 10px;
  left: 25px;
  display: flex;
}
.cardbages_item {
  display: inline-block;
  background: #777777;
  border-radius: 4px;
  height: 22px;
  padding: 3px 10px;

  font-size: 14px;
  line-height: 1.14;
}
.cardbages_item:first-child {
  margin-right: 10px;
}
.cardbages_item--class {
  background: #ffcf26;
}
.cardbages_item--credit {
  color: #fff;
  background: #11be75;
}

.card-text {
  padding: 15px 15px 20px;
}
.card-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}
.card-term {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #000000;
}
.card-metro {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #000000;
}
.card-metro::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;

  background-image: url("./../img/metro.svg");
  background-repeat: no-repeat;
  background-size: initial;
}
.card-adress {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #777777;
}
.card-link-hidden {
  display: none;
}
.btn {
  width: 100%;
  background: #dad8d8;
  border-radius: 4px;
  border: none;
  padding-top: 26px;
  padding-bottom: 30px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #4290c9;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;

  width: 24px;
  height: 24px;

  background-image: url("./../img/plus-circle.svg");
  background-repeat: no-repeat;
  background-size: initial;
}
/* sidebar */

.sidebar {
  min-width: 200px;
  width: 270px;
}
.main-content + .sidebar {
  margin-left: 30px;
}
@media (max-width: 829px) {
  .sidebar {
    /* display: none; */
    margin-left: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 20px 4px rgb(0 0 0 /37%);
    overflow-y: scroll;
    transform: translateX(-150%);
    transition: transform 0.4s ease-in;
  }
  .sidebar--mobile--active {
    transform: translateX(0%);
  }
}
.widget {
  margin-bottom: 30px;
}
.widget-title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  margin-bottom: 20px;
}
.widget-title::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;

  background-image: url("./../img/chevron-up.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

/* location btns group */

.location-row {
  display: flex;
}
.location-row:first-child {
  border-radius: 4px 4px 0 0;
  border: 1px solid #d6d6d6;
  border-bottom: none;
}
.location-row:last-child {
  border-radius: 0 0 4px 4px;
  border: 1px solid #d6d6d6;
}
.widget-btn__location {
  flex-grow: 1;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  white-space: pre;

  text-align: center;
  padding: 0 15px;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.widget-btn__location:hover {
  background-color: #f5de8c;
}
.location-checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.location-checkbox:checked + .widget-btn__location {
  background-color: #ffcf26;
}
/* Widget term */
.radio {
  cursor: pointer;
  margin-bottom: 15px;
}
.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.radio__real:checked + .radio__fake {
  background-color: #ffcf26;
}
.radio__real:checked + .radio__fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3c3c3c;
  transform: translate(-50%, -50%);
}
.radio__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: 1px solid #777777;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-right: 10px;
  vertical-align: top;
}
.radio__fake:last-child {
  margin-bottom: 0;
}
.radio__real:checked ~ .radio__title {
  font-weight: 500;
}
.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}
/* widget  */
.checkbox {
  cursor: pointer;
  margin-bottom: 15px;
}
.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.checkbox__real:checked + .checkbox__fake {
  background-color: #ffcf26;
}
.checkbox__real:checked + .checkbox__fake::before {
  content: "";
  position: absolute;

  width: 18px;
  height: 18px;

  background-image: url(./../img/check.svg);
  background-repeat: no-repeat;
  background-size: initial;
}
.checkbox__fake {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: inherit;
  border: 1px solid #777777;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 10px;
  vertical-align: top;
}
.checkbox__fake:last-child {
  margin-bottom: 0;
}
.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
}
.checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}
.link-show-more {
  display: inline-block;
  background: initial;
  border: none;
  padding: 0;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #4290c9;

  cursor: pointer;
  transition: color 0.2s ease-in;
}
.link-show-more:hover {
  color: #0d78c4;
  text-decoration: underline;
}

.hidden-elements {
  display: none;
}
.toggel {
  cursor: pointer;
}
.toggel__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.toggel__real:checked + .toggel__fake {
  background-color: #ffe074;
}
.toggel__fake {
  position: relative;
  display: inline-block;
  margin-right: 10px;

  width: 37px;
  height: 20px;
  border-radius: 10px;
  background-color: #c4c4c4;
  vertical-align: bottom;
}
.toggel__fake:before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.2s ease-in;

  background: #3c3c3c;
}
.toggel__real:checked + .toggel__fake:before {
  left: 19px;
}
.toggel__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: #3c3c3c;
}
.toggel__real:checked ~ .toggel__title {
  font-weight: 500;
}
/* form buttons */
.form-btn {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}
.btn-submit {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: #ffcf26;
  color: #000000;

  transition: background-color 0.2s ease-in;
}
.btn-submit:hover {
  background-color: #d8b124;
}
.btn-reset {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  border: 1px solid #d6d6d6;

  color: #3c3c3c;
  background-color: inherit;

  transition: background-color 0.2s ease-in;
}
.btn-reset::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 6px;

  width: 24px;
  height: 24px;

  background-image: url(./../img/x.svg);
  background-repeat: no-repeat;
  background-size: initial;
}
.btn-reset:hover {
  background-color: #d3cccc;
}
/*Button toggel sibebar  */
.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 9;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  background-color: #11be75;
  justify-content: center;
  align-items: center;
}
@media (max-width: 829px) {
  .toggle-sidebar {
    display: flex;
  }
}
.menu-icon-wrapper {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  background-color: transparent;
  border: none;
}
.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active {
  background-color: transparent;
}
.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
